/**************************************/
/**************************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 30px;
  background-color: #fff;
  color: black;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
}
.header-logo {
  width: 7vw;
}
.header-nav-list {
  display: flex;
  font-size: 1.1vw;
}
.header-nav-item:not(:last-child) {
  margin-right: 30px;
}
/**************************************/
/**************************************/
.first-mv {
  position: relative;
}
.mv {
  padding: 0;
  margin: 0;
  height: 25vw;
  width: 100%;
  object-fit: cover;
}
.first-mv-ttl {
  position: absolute;
  top: 11vw;
  left: 45%;
  font-size: 3vw;
  text-align: center;
  color: #fff;
}
/**************************************/
.kakomi-matome{
  margin: 7vw;
}
.kakomi-box1 {
  margin: 2em auto;
  padding: 1em;
  width: 80%;
  background-color: #fff; /* 背景色 */
  border: 1px solid rgb(0, 0, 0); /* 枠線 */
  
}
.kakomi-box1:hover {
  color: #6d6c6c;
  }
/**************************************/
/**************************************/
.footer-gray-box{
  width: 100%;
  height: 25vw;
  background-color: rgb(240, 240, 240);
}
.contact{
  text-align: center;
}
.contact-ttl{
  padding-top: 5vw;
  font-size: 3vw;
  font-weight: bold;
}
.contact-msg{
  margin-top: 3vw;
}
.contact-btn{
  margin       : 30px auto;
  width        : 240px;
  height       : 40px;
  background   : #b30000;
  color: #fff;
  font-size: 15px;
}
.contact-btn-msg{
  padding: 15px 0;
}
/**************************************/
.footer-black-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 30px;
  background-color: black;
  color: #fff;
  font-size: 13px;
}
.footerNav {
  color: #fff;
}
.copyright {
  padding-top: 10px;
  font-size: 13px;
}